/* Custom theming support using SASS */

$primary-color: #3490dc;
$secondary-color: #ffed4a;
$danger-color: #e3342f;

@mixin theme {
  .bg-primary {
    background-color: $primary-color;
  }
  .bg-secondary {
    background-color: $secondary-color;
  }
  .bg-danger {
    background-color: $danger-color;
  }
  .text-primary {
    color: $primary-color;
  }
  .text-secondary {
    color: $secondary-color;
  }
  .text-danger {
    color: $danger-color;
  }
}
